In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from pandas import Series, DataFrame

In [4]:
obj = Series([3,6,9,12])

obj

0     3
1     6
2     9
3    12
dtype: int64

In [5]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])

ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [8]:
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [9]:
'USSR' in ww2_cas

True

In [10]:
ww2_dict = ww2_cas.to_dict()

ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [11]:
ww2_series = Series(ww2_dict)

ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [12]:
countries = ['China','Germany','Japan','USA','Argentina']

In [13]:
obj2 = Series(ww2_dict,index=countries)

obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
Argentina          NaN
dtype: float64

In [14]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
Argentina     True
dtype: bool

In [15]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
Argentina    False
dtype: bool

In [16]:
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [17]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
Argentina          NaN
dtype: float64

In [18]:
ww2_series + obj2

Argentina          NaN
China        6000000.0
Germany      8600000.0
Japan        4200000.0
USA           800000.0
USSR               NaN
dtype: float64

In [19]:
obj2.name = "World War 2 Casualties"

In [20]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [21]:
obj2.index.name = "Countries"

In [22]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64