In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
from pandas import Series,DataFrame

In [7]:
import webbrowser
website='https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records'
webbrowser.open(website)

True

In [8]:
nfl_frame = pd.read_clipboard()

In [9]:
nfl_frame

,,,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division
1,Green,Bay,Packers,"1,386",770,578,38.000,0.569,1921,NFC,North
2,Dallas,Cowboys,932,527,399,6,0.569,1960.000,NFC,East,None
3,Baltimore,Ravens,402,226,175,1,0.563,1996.000,AFC,North,None
4,Chicago,Bears,"1,420",778,600,42,0.563,1920.000,NFC,North,None
5,New,England,Patriots,934,520,405,9.000,0.562,1960,AFC,East

In [10]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'Season',
       'Division'],
      dtype='object')

In [11]:
nfl_frame.Rank

1  Green      Bay         Packers
2  Dallas     Cowboys         932
3  Baltimore  Ravens          402
4  Chicago    Bears         1,420
5  New        England    Patriots
Name: Rank, dtype: object

In [12]:
nfl_frame_updated = pd.read_clipboard()

In [13]:
nfl_frame_updated

,,,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division
1,Green,Bay,Packers,"1,386",770,578,38.000,0.569,1921,NFC,North
2,Dallas,Cowboys,932,527,399,6,0.569,1960.000,NFC,East,None
3,Baltimore,Ravens,402,226,175,1,0.563,1996.000,AFC,North,None
4,Chicago,Bears,"1,420",778,600,42,0.563,1920.000,NFC,North,None
5,New,England,Patriots,934,520,405,9.000,0.562,1960,AFC,East
6,Miami,Dolphins,850,468,378,4,0.553,1966.000,AFC,East,None
7,Minnesota,Vikings,920,495,414,11,0.544,1961.000,NFC,North,None
8,San,Francisco,49ers,"1,106",591,499,16.000,0.542,1950,NFC,West
9,Kansas,City,Chiefs,934,496,426,12.000,0.537,1960,AFC,West
10,Pittsburgh,Steelers,"1,222",644,557,21,0.536,1933.000,AFC,North,None
11,New,York,Giants,"1,355",702,620,33.000,0.530,1925,NFC,East
12,Denver,Broncos,934,490,434,10,0.530,1960.000,AFC,West,None
13,Indianapolis,Colts[d],"1,016",534,475,7,0.529,1953.000,AFC,South,None
14,Las,Vegas,Raiders,934,483,440,11.000,0.523,1960,AFC,West
15,Seattle,Seahawks,710,368,341,1,0.519,1976.000,NFC,West,None
16,Los,Angeles,Rams,"1,185",589,575,21.000,0.506,1937,NFC,West
17,Washington,Football,Team,"1,252",611,613,28.000,0.499,1932,NFC,East
18,Los,Angeles,Chargers,934,460,463,11.000,0.498,1960,AFC,West
19,Cleveland,Browns[e],"1,002",487,506,11,0.491,1950.000,AFC,North,None
20,Philadelphia,Eagles,"1,238",591,620,27,0.488,1933.000,NFC,East,None
21,Tennessee,Titans,934,452,476,6,0.487,1960.000,AFC,South,None
22,Carolina,Panthers,419,203,215,1,0.486,1995.000,NFC,South,None
23,Buffalo,Bills,934,439,487,8,0.474,1960.000,AFC,East,None
24,New,Orleans,Saints,836,388,443,5.000,0.467,1967,NFC,South
25,Detroit,Lions,"1,283",567,683,33,0.455,1930.000,NFC,North,None
26,Cincinnati,Bengals,822,364,453,5,0.446,1968.000,AFC,North,None
27,New,York,Jets,934,410,516,8.000,0.443,1960,AFC,East
28,Houston,Texans,307,136,171,0,0.443,2002.000,AFC,South,None
29,Atlanta,Falcons,850,369,475,6,0.438,1966.000,NFC,South,None
30,Arizona,Cardinals,"1,380",568,771,41,0.426,1920.000,NFC,West,None
31,Jacksonville,Jaguars,418,177,244,0,0.420,1995.000,AFC,South,None
32,Tampa,Bay,Buccaneers,715,284,430,1.000,0.398,1976,NFC,South

In [14]:
nfl_frame['First Season']

KeyError: 'First Season'

In [15]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'Season',
       'Division'],
      dtype='object')

In [17]:
DataFrame(nfl_frame,columns=['Team','Won','GP','Stadium'])

                      Team  Won   GP  Stadium
1 Green     Bay      1,386  578  770      NaN
2 Dallas    Cowboys    527    6  399      NaN
3 Baltimore Ravens     226    1  175      NaN
4 Chicago   Bears      778   42  600      NaN
5 New       England    934  405  520      NaN

In [18]:
nfl_frame

,,,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division
1,Green,Bay,Packers,"1,386",770,578,38.000,0.569,1921,NFC,North
2,Dallas,Cowboys,932,527,399,6,0.569,1960.000,NFC,East,None
3,Baltimore,Ravens,402,226,175,1,0.563,1996.000,AFC,North,None
4,Chicago,Bears,"1,420",778,600,42,0.563,1920.000,NFC,North,None
5,New,England,Patriots,934,520,405,9.000,0.562,1960,AFC,East

In [20]:
nfl_frame.head(3)

,,,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division
1,Green,Bay,Packers,"1,386",770,578,38.000,0.569,1921,NFC,North
2,Dallas,Cowboys,932,527,399,6,0.569,1960.000,NFC,East,None
3,Baltimore,Ravens,402,226,175,1,0.563,1996.000,AFC,North,None

In [21]:
nfl_frame.tail(3)

,,,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division
3,Baltimore,Ravens,402,226,175,1,0.563,1996.000,AFC,North,None
4,Chicago,Bears,"1,420",778,600,42,0.563,1920.000,NFC,North,None
5,New,England,Patriots,934,520,405,9.000,0.562,1960,AFC,East

In [22]:
nfl_frame

,,,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division
1,Green,Bay,Packers,"1,386",770,578,38.000,0.569,1921,NFC,North
2,Dallas,Cowboys,932,527,399,6,0.569,1960.000,NFC,East,None
3,Baltimore,Ravens,402,226,175,1,0.563,1996.000,AFC,North,None
4,Chicago,Bears,"1,420",778,600,42,0.563,1920.000,NFC,North,None
5,New,England,Patriots,934,520,405,9.000,0.562,1960,AFC,East

In [23]:
nfl_frame.ix[3]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [24]:
nfl_frame['Stadium'] = "Gilette Stadium"

In [25]:
nfl_frame

,,,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division,Stadium
1,Green,Bay,Packers,"1,386",770,578,38.000,0.569,1921,NFC,North,Gilette Stadium
2,Dallas,Cowboys,932,527,399,6,0.569,1960.000,NFC,East,None,Gilette Stadium
3,Baltimore,Ravens,402,226,175,1,0.563,1996.000,AFC,North,None,Gilette Stadium
4,Chicago,Bears,"1,420",778,600,42,0.563,1920.000,NFC,North,None,Gilette Stadium
5,New,England,Patriots,934,520,405,9.000,0.562,1960,AFC,East,Gilette Stadium

In [26]:
nfl_frame['Stadium'] = np.arange(5)

In [27]:
nfl_frame

,,,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division,Stadium
1,Green,Bay,Packers,"1,386",770,578,38.000,0.569,1921,NFC,North,0
2,Dallas,Cowboys,932,527,399,6,0.569,1960.000,NFC,East,None,1
3,Baltimore,Ravens,402,226,175,1,0.563,1996.000,AFC,North,None,2
4,Chicago,Bears,"1,420",778,600,42,0.563,1920.000,NFC,North,None,3
5,New,England,Patriots,934,520,405,9.000,0.562,1960,AFC,East,4

In [28]:
stadiums = Series(["Gilette Stadium","AT&T"],index=[4,0])

In [29]:
stadiums

4    Gilette Stadium
0               AT&T
dtype: object

In [30]:
nfl_frame['Stadium'] = stadiums

In [31]:
nfl_frame

,,,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division,Stadium
1,Green,Bay,Packers,"1,386",770,578,38.000,0.569,1921,NFC,North,NaN
2,Dallas,Cowboys,932,527,399,6,0.569,1960.000,NFC,East,None,NaN
3,Baltimore,Ravens,402,226,175,1,0.563,1996.000,AFC,North,None,NaN
4,Chicago,Bears,"1,420",778,600,42,0.563,1920.000,NFC,North,None,NaN
5,New,England,Patriots,934,520,405,9.000,0.562,1960,AFC,East,NaN

In [32]:
del nfl_frame['Stadium']

In [33]:
nfl_frame

,,,Rank,Team,GP,Won,Lost,Tied,Pct.,Season,Division
1,Green,Bay,Packers,"1,386",770,578,38.000,0.569,1921,NFC,North
2,Dallas,Cowboys,932,527,399,6,0.569,1960.000,NFC,East,None
3,Baltimore,Ravens,402,226,175,1,0.563,1996.000,AFC,North,None
4,Chicago,Bears,"1,420",778,600,42,0.563,1920.000,NFC,North,None
5,New,England,Patriots,934,520,405,9.000,0.562,1960,AFC,East

In [34]:
data = {'City':['SF','LA','NYC'],'Popul':[853535,3446644,23232]}

In [35]:
city_frame = DataFrame(data)

In [36]:
city_frame

  City    Popul
0   SF   853535
1   LA  3446644
2  NYC    23232