In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

from numpy.random import randn

In [3]:
ser = Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [4]:
ser

1  a    0.123903
   b    0.856890
   c    0.604241
2  a    0.667188
   b    0.853882
   c    0.577792
dtype: float64

In [5]:
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [6]:
ser[1]

a    0.123903
b    0.856890
c    0.604241
dtype: float64

In [7]:
ser[2]

a    0.667188
b    0.853882
c    0.577792
dtype: float64

In [8]:
ser

1  a    0.123903
   b    0.856890
   c    0.604241
2  a    0.667188
   b    0.853882
   c    0.577792
dtype: float64

In [9]:
ser[:,'a']

1    0.123903
2    0.667188
dtype: float64

In [10]:
dframe = ser.unstack()

In [11]:
dframe

          a         b         c
1  0.123903  0.856890  0.604241
2  0.667188  0.853882  0.577792

In [12]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],
                    columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])

dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [14]:
dframe2.index.names = ['INDEX_1','INDEX_2']

dframe2.columns.names = ['Cities','Temp']

dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [15]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [18]:
dframe2.sortlevel(1)

AttributeError: 'DataFrame' object has no attribute 'sortlevel'

In [20]:
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27